# fly.toml app configuration file generated for youtube-transcript-api-ancient-glade-5513 on 2026-02-06T08:33:37-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'youtube-transcript-api-ancient-glade-5513'
primary_region = 'sjc'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
